# DATABASE CONFIGURATION
# Format untuk PostgreSQL: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eduflow_db?schema=public"

# AUTHENTICATION CONFIGURATION
# Kunci rahasia untuk enkripsi JWT NextAuth (Bisa digenerate acak)
NEXTAUTH_SECRET="your_nextauth_secret_key_minimum_32_characters"
NEXTAUTH_URL="http://localhost:3000"

# APP ENVIRONMENT
NODE_ENV="development"
PORT=3000
